/* menu.css */

#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

button.center{
	width: 13rem;
	height: 6rem;
	margin-top: 1rem;
	background-color:lightblue;
	border-radius: 10px;
	text-align: center;
	font-size: 40px;
	color:dodgerblue;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title{
	color: red;
	text-align: center;
	font-size: 90px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 1000;
}